{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Course Allocation</h1>
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success">{{ message }}</div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}